<section>
  {%- if section.settings.image != blank -%}
    <div class="user-selection">
      <h1></h1>
    </div>
  {%- else -%}
    <div class="default">
      <h1></h1>
    </div>
  {%- endif -%}
</section>

<style>
  .default {
    background-image: url("{{ 'banner.png' | asset_url }}");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }

  .user-selection {
    background-image: url('{{ section.settings.image | image_url }}');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }

  @media only screen and (max-width: 768px) {
    .default {
      background-image: url("{{ 'banner.png' | asset_url }}");
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .default {
      background-image: url("{{ 'mobile-banner.png' | asset_url }}");
      width: 100%;
      height: 650px;
      background-size: cover;
      background-position: center;
    }
  }
</style>

{% schema %}
{
  "name": "image banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "image",
      "info": "full width .png recommended"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "three-images"
    }
  ]
}
{% endschema %}
